deleteRequestXSDSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="deleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reason" type="xs:string"/>
        <xs:element name="requestedBy" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
